<div class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-light" style=" height: 60px; background:deeppink;">
    <img src="../assets/bcarelog.jpeg" height=auto; width=60px;>
    <b style="margin-left:10px;" class="navbar-brand">B-CARE</b>
  <!--<div class="searchbar"style="margin-top:10px;margin-left:100px;">
      <input class="search_input" type="text" name="" style="color:whitesmoke" placeholder="Search...">
      <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
  -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
            <a><button
              style="border-radius:10px;width:100px;height:35px;"
              type="button"
              *ngIf="logusr=='logedin'"
              routerLink="/login"
              class="btn btn-primary btn-sm float-right">Login</button></a>
        </li>
        <li class="nav-item">

          <a><button
            style="border-radius:10px;width:100px;height:35px;"
            type="button"
            *ngIf="logusr=='logdout'"

            (click)="logOut()"
            class="btn btn-primary btn-sm float-right">Logout</button></a>
      </li>
    </ul>
  </div>
  </nav>
</div>

<div class="nav-side-menu" style="margin-top:60px;">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a routerLink="/home" >
                  <i class="fa fa-home"></i> Home
                  </a>
                </li>

                <li>
                  <a routerLink="/userdetails"><i class="fa fa-heartbeat"></i>Quick Checkup</a>
                </li>

                <li>

                  <a routerLink="/exercise"><i class="fa fa-calendar" ></i> Daily Tracker </a>
                </li>

                <li>
                  <a routerLink="/center"><i class="fa fa-car fa-lg"></i> Centers</a>
                </li>

                 <li>
                  <a routerLink="/chatbot"><i class="fa fa-info-circle" ></i> Help Desk </a>
                </li>


            </ul>
     </div>

</div>
<router-outlet></router-outlet>
